body {
    margin: 0;
    padding:0;
    font-family: 'Verdana', sans-serif;
    font-weight: 200;
    font-size: 15px;
  }
  svg {
    position: absolute;
    right: 0;
    top: 0;
  }
  #map-holder, #svg {
    display:table-cell;
    height: 100%;
    bottom:0;
    position:absolute;   
  }
  #map-holder, #svg {
      overflow:hidden;
      left:0;
      width: 100%
  }

  .page-footer {
    position: fixed;
    padding-bottom: 20px;
    padding-left: 20px;
    left: 0;
    bottom: 0;
    width: 330px;
    fill:none;
    z-index: 1
  }

  #yard-panel, #geo-panel {
    background-color: rgba(2, 5, 19, 0.85);
    border-radius: 0.5rem/0.5rem;
    overflow: hidden;
    pointer-events: all;

    margin-top: 1rem;
    padding: 0.5rem 1rem 0.5rem 1rem;
    opacity: 1;
    max-height: 34rem;
    transition: opacity 250ms ease, max-height 250ms ease, margin-top 250ms ease;
    -webkit-transition: opacity 250ms ease, max-height 250ms ease, margin-top 250ms ease;
  }

  .yard-panel.invisible, span.invisible, a.invisible {
    display: none;
  }

  a, p {
    margin: 0;
    padding: 0;
    border: 0;
  }

  b {
    margin: 0;
    padding: 0;
    border: 0;
    color: #ffffff;
    transition: color 125ms ease-in;
    -webkit-transition: color 125ms ease-in;
  }

  d {
    margin: 40
  }

  span, div {
    margin: 0;
    padding: 0;
    border: 0;
  }

  div.force {
    margin: 15;
    padding: 2;
    border: 0;
  }

  div.container-force {
    margin: 15;
    padding: 2;
    padding-top: 40;
    margin-top: 40;
    border: 0;
  }

  a, p, li .text-button {
    color: #888888;
    font-size: 1em;
  }

  select {
    width : 150px;
    background-color:rgba(37, 38, 41, 0.85);
    color: rgba(193, 194, 199, 0.85);
    padding: 12px;
    border: none;
    font-size: 15px;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
    -webkit-appearance: searchfield;
    appearance: button;
    outline: none;
  }

  div.invisible, select.invisible {
    display: None
  }

  a:hover, a:focus, .no-touch .text-button:hover, .no-touch .text-button:focus, .text-button:active {
    color: #ffffff;
    cursor: pointer;
    transition: color 125ms ease-in;
    -webkit-transition: color 125ms ease-in;
  }

  p:hover, p:focus, li:focus, .no-touch .text-button:hover, .no-touch .text-button:focus, .text-button:active {
    color: #888888;
  }

  .station {
    fill: none;
    stroke: #20A4F3;
    stroke-width: 0.5;
    cursor: pointer;
    transition: 0.5s fill, 0.5s stroke-width;
}

  .station.loaded{
    fill: #F6F7F8;
    stroke-width: 10;
  }

  .station.loaded:hover {
    fill: #F6F7F8;
    stroke-width: 18;
  }